@import url(./variables.css);

.title {
  color: var(--gumetal-color);
}

.introduce_items {
  border-radius: 8px 50px 8px 50px;
  -moz-border-radius: 8px 50px 8px 50px;
  -webkit-border-radius: 8px 50px 8px 50px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(171, 168, 171, 1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(171, 168, 171, 1);
  box-shadow: 0px 5px 10px 0px rgba(171, 168, 171, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 50px 0px;
  margin-left: 10px;
  margin-right: 10px;
  height: 400px;
}

.introduce_image {
  max-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}

.introduce_icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.introduce_number {
  color: var(--green-color);
}

.introduce_text {
  color: var(--gumetal-color);
}

.introduce-slide_items {
  border-radius: 8px 50px 8px 8px;
}

.eventNews,
.training,
.sharing {
  position: relative;
}

.eventNews::after,
.eventNews::before,
.training::after,
.training::before,
.science::after,
.sharing::after,
.sharing::before,
.sharing-small_ball-1,
.sharing-small_ball-2 {
  content: "";
  position: absolute;
  background: rgb(70, 156, 81);
  background: linear-gradient(
    90deg,
    rgba(70, 156, 81, 1) 7%,
    rgba(104, 178, 119, 1) 47%
  );
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.sharing-big_ball-1,
.sharing-big_ball-2 {
  position: absolute;
  background: var(--green-color);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  opacity: 0.3;
  z-index: -10;
}

.sharing-big_ball-1 {
  left: -10%;
  bottom: 0;
}

.sharing-big_ball-2 {
  right: 0;
  bottom: 40%;
}

.sharing-small_ball-2 {
  right: 50%;
  bottom: 1%;
}

.sharing-small_ball-1 {
  bottom: 20%;
  left: 0%;
}

.sharing::after {
  top: 5%;
  left: 30%;
}

.sharing::before {
  right: 0%;
  top: 50%;
}

.eventNews::after {
  top: 10%;
  left: 30%;
}

.eventNews::before {
  bottom: 40%;
  right: 5%;
}

.training::after {
  top: 3%;
  right: 40%;
}

.training::before {
  top: 50%;
  left: 2%;
}

.science::after {
  top: -30%;
  left: 50%;
}

.eventNews-slide,
.training-slide,
.cooperate-slide,
.sharing-slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.cooperate-slide {
  width: 50%;
}

.eventNews-slide_box,
.training-slide_box,
.cooperate-slide_box,
.sharing-slide_box {
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.introduce-slide_image {
  border-radius: 8px 8px 8px 50px;
}

.science-items,
.science-image {
  border-radius: 8px 50px 10px 50px;
  -moz-border-radius: 8px 50px 10px 50px;
  -webkit-border-radius: 8px 50px 10px 50px;
}

.science {
  background: rgb(70, 156, 82);
  background: linear-gradient(
    180deg,
    rgb(82, 172, 101) 0%,
    rgba(112, 187, 136, 1) 35%,
    rgb(82 172 102 / 0%) 100%
  );
  position: relative;
  margin-top: 200px;
}

.science::before {
  content: "";
  position: absolute;
  top: -149px;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: var(--green-color);
  z-index: -1;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 68.9%,
    1.33% 68.93%,
    2.67% 68.57%,
    4% 67.83%,
    5.33% 66.72%,
    6.67% 65.27%,
    8% 63.52%,
    9.33% 61.49%,
    10.67% 59.25%,
    12% 56.83%,
    13.33% 54.3%,
    14.67% 51.71%,
    16% 49.12%,
    17.33% 46.59%,
    18.67% 44.18%,
    20% 41.93%,
    21.33% 39.91%,
    22.67% 38.16%,
    24% 36.72%,
    25.33% 35.61%,
    26.67% 34.87%,
    28% 34.52%,
    29.33% 34.55%,
    30.67% 34.97%,
    32% 35.78%,
    33.33% 36.95%,
    34.67% 38.45%,
    36% 40.25%,
    37.33% 42.31%,
    38.67% 44.59%,
    40% 47.03%,
    41.33% 49.58%,
    42.67% 52.17%,
    44% 54.75%,
    45.33% 57.27%,
    46.67% 59.66%,
    48% 61.87%,
    49.33% 63.85%,
    50.67% 65.55%,
    52% 66.94%,
    53.33% 67.99%,
    54.67% 68.66%,
    56% 68.95%,
    57.33% 68.85%,
    58.67% 68.37%,
    60% 67.5%,
    61.33% 66.28%,
    62.67% 64.72%,
    64% 62.87%,
    65.33% 60.77%,
    66.67% 58.46%,
    68% 56%,
    69.33% 53.44%,
    70.67% 50.85%,
    72% 48.27%,
    73.33% 45.77%,
    74.67% 43.41%,
    76% 41.23%,
    77.33% 39.3%,
    78.67% 37.64%,
    80% 36.31%,
    81.33% 35.32%,
    82.67% 34.71%,
    84% 34.48%,
    85.33% 34.65%,
    86.67% 35.2%,
    88% 36.13%,
    89.33% 37.41%,
    90.67% 39.02%,
    92% 40.91%,
    93.33% 43.05%,
    94.67% 45.39%,
    96% 47.87%,
    97.33% 50.44%,
    98.67% 53.03%,
    100% 55.6%
  );
}

.cooperate {
  position: relative;
}

.cooperate::before {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url("../img/italia.jpg");
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: 0.2;
  background-repeat: no-repeat;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.button-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sharing_items {
  border-radius: 8px 50px 8px 50px;
  box-shadow: 0px 5px 10px 0px rgba(171, 168, 171, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 50px 50px 30px;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 420px;
  position: relative;
  background-color: var(--white-color);
}

.sharing-items_picture {
  position: absolute;
  top: -15%;
  left: 15%;
  width: 120px;
  height: 120px;
  z-index: 100;
  border-radius: 50%;
  object-fit: cover;
}


#library-box img,
#library-box-2 img {
  border-radius: 8px 50px 8px 50px;
  box-shadow: 0px 5px 10px 0px rgba(171, 168, 171, 1);
}

.library-1 {
  width: 60%;
}

.library-2 {
  width: 35%;
}

.library-3,
.library-4,
.library-5 {
  width: 31%;
}

.library-items {
  height: 90vh;
}

#library-box,
#library-box-2 {
  transform: translateY(-50%);
  position: absolute;
  height: 100%;
}

#library-box {
  animation: animationLibrary 20s linear 0s infinite;
  opacity: 0;
}

#library-box-2 {
  animation: animationLibrary 20s linear 10s infinite;
  opacity: 0;
}

@keyframes animationLibrary {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.cooperate_slide-show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cooperate_slide-items {
  width: 250px;
  height: 350px;
  transition: all 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  left: 0%;
  border-radius: 8px 50px 8px 50px;
}

.cooperate_slide-active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 10;
  left: 20%;
}
