@import url(./variables.css);

.footer {
  position: relative;
  background: rgb(75, 160, 87);
  background: linear-gradient(
    90deg,
    rgba(75, 160, 87, 1) 0%,
    rgba(75, 161, 88, 1) 33%,
    rgba(84, 168, 101, 1) 62%,
    rgba(142, 203, 163, 1) 100%
  );
  padding-top: 100px;
  padding-bottom: 30px;
}

.footer::before {
  content: "";
  position: absolute;
  top: -149px;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgb(137, 217, 160);
  background: linear-gradient(
    90deg,
    rgba(137, 217, 160, 1) 0%,
    rgba(113, 188, 129, 1) 33%,
    rgba(129, 203, 153, 1) 62%,
    rgba(200, 238, 213, 0.8773333333333333) 100%
  );
  z-index: -1;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 51.5%,
    1.25% 51.49%,
    2.5% 51.44%,
    3.75% 51.37%,
    5% 51.27%,
    6.25% 51.13%,
    7.5% 50.98%,
    8.75% 50.79%,
    10% 50.57%,
    11.25% 50.33%,
    12.5% 50.05%,
    13.75% 49.75%,
    15% 49.43%,
    16.25% 49.08%,
    17.5% 48.7%,
    18.75% 48.3%,
    20% 47.87%,
    21.25% 47.42%,
    22.5% 46.95%,
    23.75% 46.45%,
    25% 45.94%,
    26.25% 45.4%,
    27.5% 44.84%,
    28.75% 44.26%,
    30% 43.67%,
    31.25% 43.06%,
    32.5% 42.43%,
    33.75% 41.78%,
    35% 41.13%,
    36.25% 40.45%,
    37.5% 39.77%,
    38.75% 39.08%,
    40% 38.37%,
    41.25% 37.66%,
    42.5% 36.94%,
    43.75% 36.21%,
    45% 35.47%,
    46.25% 34.73%,
    47.5% 33.99%,
    48.75% 33.25%,
    50% 32.5%,
    51.25% 31.75%,
    52.5% 31.01%,
    53.75% 30.27%,
    55% 29.53%,
    56.25% 28.79%,
    57.5% 28.06%,
    58.75% 27.34%,
    60% 26.63%,
    61.25% 25.92%,
    62.5% 25.23%,
    63.75% 24.55%,
    65% 23.87%,
    66.25% 23.22%,
    67.5% 22.57%,
    68.75% 21.94%,
    70% 21.33%,
    71.25% 20.74%,
    72.5% 20.16%,
    73.75% 19.6%,
    75% 19.06%,
    76.25% 18.55%,
    77.5% 18.05%,
    78.75% 17.58%,
    80% 17.13%,
    81.25% 16.7%,
    82.5% 16.3%,
    83.75% 15.92%,
    85% 15.57%,
    86.25% 15.25%,
    87.5% 14.95%,
    88.75% 14.67%,
    90% 14.43%,
    91.25% 14.21%,
    92.5% 14.02%,
    93.75% 13.87%,
    95% 13.73%,
    96.25% 13.63%,
    97.5% 13.56%,
    98.75% 13.51%,
    100% 13.5%
  );
}

.footer::after {
  content: "";
  position: absolute;
  top: -145px;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgb(75, 160, 87);
  background: linear-gradient(
    90deg,
    rgba(75, 160, 87, 1) 0%,
    rgba(75, 161, 88, 1) 33%,
    rgba(84, 168, 101, 1) 62%,
    rgba(142, 203, 163, 1) 100%
  );
  z-index: 0;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 75.32%,
    1.25% 75.79%,
    2.5% 75.99%,
    3.75% 75.92%,
    5% 75.56%,
    6.25% 74.94%,
    7.5% 74.05%,
    8.75% 72.91%,
    10% 71.54%,
    11.25% 69.96%,
    12.5% 68.18%,
    13.75% 66.23%,
    15% 64.13%,
    16.25% 61.93%,
    17.5% 59.64%,
    18.75% 57.31%,
    20% 54.95%,
    21.25% 52.61%,
    22.5% 50.32%,
    23.75% 48.11%,
    25% 46%,
    26.25% 44.03%,
    27.5% 42.23%,
    28.75% 40.62%,
    30% 39.23%,
    31.25% 38.06%,
    32.5% 37.15%,
    33.75% 36.49%,
    35% 36.11%,
    36.25% 36%,
    37.5% 36.17%,
    38.75% 36.62%,
    40% 37.33%,
    41.25% 38.3%,
    42.5% 39.52%,
    43.75% 40.96%,
    45% 42.62%,
    46.25% 44.46%,
    47.5% 46.46%,
    48.75% 48.59%,
    50% 50.82%,
    51.25% 53.13%,
    52.5% 55.48%,
    53.75% 57.83%,
    55% 60.16%,
    56.25% 62.43%,
    57.5% 64.61%,
    58.75% 66.67%,
    60% 68.59%,
    61.25% 70.33%,
    62.5% 71.87%,
    63.75% 73.19%,
    65% 74.27%,
    66.25% 75.1%,
    67.5% 75.67%,
    68.75% 75.96%,
    70% 75.97%,
    71.25% 75.71%,
    72.5% 75.18%,
    73.75% 74.38%,
    75% 73.32%,
    76.25% 72.03%,
    77.5% 70.51%,
    78.75% 68.79%,
    80% 66.89%,
    81.25% 64.85%,
    82.5% 62.68%,
    83.75% 60.41%,
    85% 58.09%,
    86.25% 55.74%,
    87.5% 53.39%,
    88.75% 51.08%,
    90% 48.83%,
    91.25% 46.69%,
    92.5% 44.67%,
    93.75% 42.81%,
    95% 41.14%,
    96.25% 39.67%,
    97.5% 38.42%,
    98.75% 37.42%,
    100% 36.68%
  );
}

.footer-layer {
  position: absolute;
  top: -149px;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgb(137, 217, 160);
  background: linear-gradient(
    90deg,
    rgba(137, 217, 160, 1) 0%,
    rgba(113, 188, 129, 1) 33%,
    rgba(129, 203, 153, 1) 62%,
    rgba(200, 238, 213, 0.8773333333333333) 100%
  );
  z-index: -1;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 20.93%,
    1.25% 19.88%,
    2.5% 18.92%,
    3.75% 18.03%,
    5% 17.24%,
    6.25% 16.53%,
    7.5% 15.93%,
    8.75% 15.43%,
    10% 15.03%,
    11.25% 14.75%,
    12.5% 14.57%,
    13.75% 14.5%,
    15% 14.54%,
    16.25% 14.7%,
    17.5% 14.96%,
    18.75% 15.33%,
    20% 15.81%,
    21.25% 16.39%,
    22.5% 17.07%,
    23.75% 17.85%,
    25% 18.71%,
    26.25% 19.66%,
    27.5% 20.69%,
    28.75% 21.79%,
    30% 22.96%,
    31.25% 24.19%,
    32.5% 25.47%,
    33.75% 26.79%,
    35% 28.15%,
    36.25% 29.53%,
    37.5% 30.93%,
    38.75% 32.34%,
    40% 33.76%,
    41.25% 35.16%,
    42.5% 36.55%,
    43.75% 37.91%,
    45% 39.24%,
    46.25% 40.53%,
    47.5% 41.77%,
    48.75% 42.95%,
    50% 44.07%,
    51.25% 45.12%,
    52.5% 46.08%,
    53.75% 46.97%,
    55% 47.76%,
    56.25% 48.47%,
    57.5% 49.07%,
    58.75% 49.57%,
    60% 49.97%,
    61.25% 50.25%,
    62.5% 50.43%,
    63.75% 50.5%,
    65% 50.46%,
    66.25% 50.3%,
    67.5% 50.04%,
    68.75% 49.67%,
    70% 49.19%,
    71.25% 48.61%,
    72.5% 47.93%,
    73.75% 47.15%,
    75% 46.29%,
    76.25% 45.34%,
    77.5% 44.31%,
    78.75% 43.21%,
    80% 42.04%,
    81.25% 40.81%,
    82.5% 39.53%,
    83.75% 38.21%,
    85% 36.85%,
    86.25% 35.47%,
    87.5% 34.07%,
    88.75% 32.66%,
    90% 31.24%,
    91.25% 29.84%,
    92.5% 28.45%,
    93.75% 27.09%,
    95% 25.76%,
    96.25% 24.47%,
    97.5% 23.23%,
    98.75% 22.05%,
    100% 20.93%
  );
}

.footer-copyRight {
  font-size: 8px;
  color: var(--gray-color);
}

.footer-small_ball-1,
.footer-small_ball-2,
.footer-small_ball-3 {
  position: absolute;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.footer-small_ball-1 {
  bottom: 20%;
  left: 30%;
  background: rgb(145, 209, 169);
  background: linear-gradient(
    90deg,
    rgba(145, 209, 169, 1) 7%,
    rgba(133, 201, 154, 1) 47%
  );
}

.footer-small_ball-2 {
  background: #91d2a8;
  top: 20%;
  right: 10%;
}

.footer-small_ball-3 {
  top: 10%;
  left: 10%;
  background: rgb(145, 210, 168);
  background: linear-gradient(
    90deg,
    rgba(145, 210, 168, 1) 7%,
    rgba(132, 201, 152, 1) 47%
  );
}
