@media screen and (max-width: 1441px) {
  .library-items {
    height: 70vh;
  }
}

@media screen and (max-width: 1025px) {
  .library-items {
    height: 55vh;
  }

  .slidetest {
    left: -10%;
  }

  .cooperate_slide-active {
    left: 10%;
  }
}

@media screen and (max-width: 769px) {
  .library-items {
    height: 40vh;
  }

  .header-ball-1,
  .header-ball-2,
  .header-ball-3 {
    width: 100px;
    height: 100px;
  }

  .cooperate_slide-show {
    display: none;
  }

  .cooperate-slide {
    width: 100%;
  }
}

@media screen and (max-width: 485px) {
  .footer-small_ball-1 {
    left: 65%;
  }

  .sharing_items {
    min-width: 95%;
    margin-left: 0;
  }

  .footer-layer {
    top: -155px;
  }
}
