:root {
  --background-color: #f9f9f9;
  --gumetal-color: #283237;
  --white-color: #ffffff;
  --green-color: #52ac65;
  --bold-red-color: #be3b3d;
  --black-color: #000000;
  --yellow-orange-color: #e3b67f;
  --gray-color: #efedec;
}
